doctype html
html
  head
    title ofCourse
    link(rel='stylesheet' href='/min.css')
    link(rel='stylesheet' href='/static/libs/fa-4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/static/libs/fullcalendar/fullcalendar.css')
    

  body
  script(src='/min.js' type='text/javascript')
  script(src='/static/libs/fullcalendar/moment.min.js')
  script(src='/static/libs/fullcalendar/fullcalendar.js')
