.ofcourse-body .fc {
  padding: 0 .5em .5em;
  margin-top: 0;
  margin-left: 15%;
  margin-right: 15%;
}

.ofcourse-cal-container {
  position: fixed;
  height: 90%;
}

.ofcourse-body .fc-toolbar {
  margin-bottom: 0;
}

.ofcourse-body .fc .fc-toolbar button {
  border-radius: 200px;
  width: 4em;
  height: 4em;
  margin: 1em;
  background-image: none;
  background-color: #441D9E;
  color: #FFFFFF;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}

.ofcourse-body .fc .fc-toolbar button:hover {
  -webkit-box-shadow: 0px 15px 14px 0px rgba(0,0,0,0.26) !important;
  -moz-box-shadow: 0px 15px 14px 0px rgba(0,0,0,0.26) !important;
  box-shadow: 0px 15px 14px 0px rgba(0,0,0,0.26) !important;
}

.ofcourse-body .fc .fc-toolbar button:focus {
    outline: none;
}

.ofcourse-body .fc-toolbar .fc-left {
  position: absolute;
  left: 0%;
  width: 50%;
  top: 100%;
  transform: translateY(-200%);
  height: 3em;
  z-index: 15;
}

.ofcourse-body .fc .fc-toolbar > * > * {
  float: center;
}

.ofcourse-body .fc-toolbar .fc-right {
  position: absolute;
  right: 0;
  width: 50%;
  top: 100%;
  transform: translateY(-200%);
  height: 3em;
  z-index: 15;
}

.ofcourse-body .fc-button-group {
  position: relative;
  bottom: 1em;
  z-index: 15;
  height: 3em;
}

.ofcourse-body .fc-state-disabled {
  box-shadow: inset 0 -.2em 1em .05em rgba(0,0,0,0.3);
  color: #999 !important;
}

.ofcourse-body .fc-center h2 {
  color: #F2F2F3;
  font-weight: lighter;
}

.ofcourse-body .fc-day-header {
  background-color: #242430;
  padding: .4em;
  color: #F2F2F3;
  font-weight: normal;
}

.ofcourse-body .fc-row, .ofcourse-body .fc-time, .ofcourse-body .fc-event { 
  color: #F2F2F3;
}

.ofcourse-body .fc-event {
  background-color: #FF4081;
  font-weight: bolder;
  padding: .2em;
  border: none;
}

.ofcourse-body .fc-today {
  background-color: #242430 !important;
}


.ofcourse-body .fc-day, .ofcourse-body .fc-widget-header, .ofcourse-body .fc-widget-content {
  border-color: #44404B;
}

.ofcourse-body .fc hr {
  padding: 0;
  border-width: 2px;
}

.fc-view-container {
  background-color: #363644;
  -webkit-box-shadow: 0px 21px 81px 15px rgba(54,54,68,1);
  -moz-box-shadow: 0px 21px 81px 15px rgba(54,54,68,1);
  box-shadow: 0px 21px 81px 15px rgba(54,54,68,1);
}

.fc-day-number {
  color: WHITE;
  text-shadow: -1px 0px 6px rgba(0, 0, 0, 1);
}

@media (max-width: 700px) {
  .ofcourse-body .fc {
    margin-left: 0;
    margin-right: 0;
  }

  .ofcourse-body .fc .fc-toolbar button {
    width: 2.5em;
    height: 2.5em;
    margin: .2em;
    padding: 0;
  }

  .ofcourse-body .fc-toolbar .fc-left {
    transform: translateY(-60%);
  }

  .ofcourse-body .fc-toolbar .fc-right {
    transform: translateY(-60%);
  }
}
