.ofcourse-login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/static/images/loginbg.jpg);
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  box-shadow: 7px 7px 29px 0px rgba(0,0,0,0.6);
  z-index: 10;
}

.ofcourse-login-wordage {
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 10;
}

.ofcourse-slogan {
  display: hidden !important;
  position: relative;
  color: #FFFFFF;
  font-size: 48pt;
  width: 500px;
  left: 22%;
  top: 28%;
  border: 3px solid WHITE;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 7px 7px 29px 0px rgba(0,0,0,0.6);
  z-index: 10;
}

.ofcourse-login-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.ofcourse-welcome-wrapper {
  position: fixed;
  width: 50%;
  height: 100%;
}

.ofcourse-login-logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -25%;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  box-shadow: 7px 7px 29px 0px rgba(0,0,0,0.6);
  border: 5px solid #FFFFFF;
  z-index: 10;
}

.ofcourse-login-text {
  position: relative;
  background-color: #3B579D;
  height: 40px;
  color: #FFFFFF;
  font-size: 28pt;
  top: 40%;
  text-align: center;
  -webkit-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.45);
  box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.45);
}

.ofcourse-login-welcome {
  position: relative;
  background-color: #441D9E;
  opacity: .3;
  font-size: 32pt;
  box-shadow: 7px 7px 29px 0px rgba(0,0,0,0.6);
  left: 10%;
  width: 700px;
  height: 200%;
  top: 0px;
  border-left: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 0;
}

.ofcourse-login {
  display: inline-block;
  position: relative;
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 50px;
  box-shadow: 7px 7px 29px 0px rgba(0,0,0,0.6);
  width: 300px;
  height: 180px;
  top: 60%;
  left: 25%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

@media only screen and (max-width: 1100px) {
  .ofcourse-welcome-wrapper{
    display: none !important;
  }

  .ofcourse-login {
    left: 50%;
  }

  .ofcourse-login-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (min-height: 800px) {
  .ofcourse-login {
    top: 50%;
  }
    
  .ofcourse-login-welcome {
    top: 30%;
  }
}

.ofcourse-login div {
  display: inline;
}

.ofcourse-dev-login {
  display: none;
  text-align: center;
  position: relative;
  top: 20%;
  width: 90%
}
.ofcourse-bar-break {
  display: block !important;
  border-style: inset;
  border-width: .15em;
  border-radius: 100em;
  margin: 2em;
}

.ofcourse-fblogin {
  position: relative;
  width: 58px;
  display: block;
  text-align: center;
  top: 35%;
  left: 33%;
}

.ofcourse-form {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.ofcourse-footer {
  position: relative;
  text-align: center;
  opacity: .6;
  font-family: 'Open Sans', sans-serif;
  top: 100%;
  transform: translateY(-100%);
  background: #D5D5D5;
  color: #959595;
  padding-top: 10px;
  height: 15px;
  z-index: 15;
}
