.ofcourse-vcenter {
  height: 100%;
  overflow: hidden;
}
.ofcourse-vcenter1 {
  height: 100%;
  transform: translateY(50%)
}

.ofcourse-vcenter2 {
  transform: translateY(-50%)
}

.ofcourse-centerImage {
  text-align: center;
}

.ofcourse-fblogin {
  padding-top: 2em;
}

.ofcourse-form {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
