.ofcourse-sidebar {
  position: fixed;
  height: 100%;
  background-color: #222;
  top: 0;
  left: 0;
  width: 25%;
  overflow-x: hidden;
  min-width: 200px;
}

.ofcourse-sidebar .ofcourse-menu-item {
  font-size: 1.5em;
  padding: .5em;
  color: #EEE;
  border-bottom: #555 groove .1em;
}

.ofcourse-sidebar .ofcourse-menu-item:hover {
  background-color: #494949;
}
