
.ofcourse-taskbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background-color: #242430;
  box-shadow: 0 .1em .5em 0.1em #2E2E3D;
  font-size: 1.5em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.ofcourse-taskbar-left {
  position: absolute;
  height: 100%;
}

.ofcourse-taskbar i {
  position: absolute;
  top: 0;
  padding: .5em;
  color: #E1E1E2;
}

.ofcourse-welcome-text {
  position: relative;
  font-family: Roboto;
  font-size: .7em;
  color: #FFFFFF;
  left: 6em;
  top: 30%;
}

.ofcourse-taskbar i:hover {
  background-color: #141414;
}

.ofcourse-taskbar .ofcourse-taskbar-right i {
  float: right;
  right: 0;
}

.ofcourse-taskbar .ofcourse-padding-right {
  padding-right: .5em;
  display: inline-block;
  float: right;
}

.ofcourse-taskbar .ofcourse-padding-left {
  padding-left: .5em;
  display: inline-block;
}
