
.ofcourse-taskbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #242430;
  box-shadow: 0 .05em 1em .05em #000;
  font-size: 1.5em;
  z-index: 6;
}

.ofcourse-taskbar i {
  padding: .25em;
  border-radius: .5em;
  color: #E1E1E2;
}

.ofcourse-taskbar i:hover {
  background-color: #141414;
}

.ofcourse-taskbar .ofcourse-taskbar-right i {
  float: right;
}

.ofcourse-taskbar .ofcourse-padding-right {
  padding-right: .5em;
  display: inline-block;
  float: right;
}

.ofcourse-taskbar .ofcourse-padding-left {
  padding-left: .5em;
  display: inline-block;
}
