.oc-userAssignments-pageWrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

.oc-userAssignments-assignment{
  margin: 10px;
  background: WHITE;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.37);
}

.oc-assignment-info {
  width: 66%;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 1.5em;
  padding-top: .8em;
}

.ofcourse-assignment-action {
  width: 3em;
}