.oc-userAssignments-pageWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
}

.oc-userAssignments-assignment{
  height: 20%;
  margin: 10px;
  background: WHITE;
  padding-top: 2em;
  -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
}