//Page for creating assignments that belong to a course
div.oc-addAssign-wrapper
  div.ofcourse-form
    h1 Add Course Assignment
    form.pure-form
      fieldset.pure-group
        label(for="cid") Course
        select.pure-input-1(id='cid')
          - each item in locals
            option(id='#{item.id}') #{item.title} #{item.number} - Section #{item.section}
        label(for="title") Assignment Name
        input.pure-input-1(id='title')
        label(for="due") Due Date
        input.pure-input-1(id='due')
        lable(for="desc") Assignment Details
        textarea.pure-input-1(id='desc' rows='5')
      button(type='button' class=['pure-button pure-input-1 pure-button-primary'] onclick="radio.trigger('submit:AddAssign')") Add Assignment
