//Page for creating assignments that belong to a course
div.ofcourse-addAssign-box
  form.ofcourse-addAssign-form
    fieldset.ofcourse-clean-fieldset.ofcourse-addAssign-fieldset
      input.ofcourse-clean-input.ofcourse-heading(id='title' placeholder='Assignment Name' autofocus)
      select.ofcourse-clean-input(id='cid')
        - each item in locals
          option(id='#{item.id}') #{item.title} #{item.number} - Section #{item.section}
      textarea.ofcourse-clean-input(id='desc' rows='3' placeholder='Type a description for this assignment...')
      div#due.ofcourse-date-select
        input.ofcourse-hidden
    button#submit.ofcourse-green.wave-effect.ofcourse-sq-button(type='button' onclick="radio.trigger('submit:AddAssign')") Add Assignment
