div.pure-g.oc-userAssignments-assignment(id='#{locals.id}')
  h1.pure-u-1-3.oc-assignment-info #{locals.title}
  div.pure-u-1-3.ofcourse-empty
  div.pure-u-1-3
    div#complete.ofcourse-menu-item.waves-effect.waves-light(onclick="radio.trigger('submit:completeAssignment#{locals.id}')")
      i.fa.fa-check.waves-effect.waves-circle.waves-light.ofcourse-menu-icon.ofcourse-green.ofcourse-round-button
    //div#delete.ofcourse-menu-item.waves-effect.waves-light(onclick="radio.trigger('submit:deleteAssignment#{locals.id}')")
      i.fa.fa-times.waves-effect.waves-circle.waves-light.ofcourse-menu-icon.ofcourse-red.ofcourse-round-button
