div.oc-courses-pageWrapper
  h1 Select Course
  div.oc-courses-courseContainer
    - each item in locals
      div.oc-courses-course(onclick="radio.trigger('open:course',item)")
       h2 #{item.title}
       h3 #{item.number}
       h3 #{section}
