div.oc-createCourse-courseMeeting
  form.pure-form
    p Timezone 
    select :
      option(value="-4") AST
      option(value="-5") EST
      option(value="-4") EDT
      option(value="-6") CST
      option(value="-5") CDT
      option(value="-7") MST
      option(value="-6") MDT
      option(value="-8") PST
      option(value="-7") PDT
      option(value="-9") AKST
      option(value="-8") AKDT
      option(value="-10") HST
      option(value="-10") HAST
      option(value="-9") HADT
      option(value="-11") SST
      option(value="-10") SDT
      option(value="10") CHST
    p Start Time #[input(type="time", name="start", value="format 00:00").startTime]
    p End Time #[input(type="time", name="end", value="format 00:00").endTime]
    label
      input(type="checkbox", name="days" value="1").oc-createCourse-mon.day
      | Mon
    label
      input(type="checkbox", name="days" value="2").oc-createCourse-tue.day
      | Tues
    label
      input(type="checkbox", name="days" value="3").oc-createCourse-wed.day
      | Wed
    label
      input(type="checkbox", name="days" value="4").oc-createCourse-thur.day
      | Thrus
    label
      input(type="checkbox", name="days" value="5").oc-createCourse-fri.day
      | Fri
    label
      input(type="checkbox", name="days" value="6").oc-createCourse-sat.day
      | Sat
    label
      input(type="checkbox", name="days" value="0").oc-createCourse-sun.day
      | Sun
