div.oc-createCourse-courseMeeting
  form.pure-form
    p Start Time #[input(type="time", name="start", value="format 00:00")]
    p End Time #[input(type="time", name="end", value="format 00:00")]
    label
      input(type="checkbox", name="days" value="mon")
      | Mon
    label
      input(type="checkbox", name="days" value="tue")
      | Tues
    label
      input(type="checkbox", name="days" value="wed")
      | Wed
    label
      input(type="checkbox", name="days" value="thurs")
      | Thrus
    label
      input(type="checkbox", name="days" value="fri")
      | Fri
    label
      input(type="checkbox", name="days" value="sat")
      | Sat
    label
      input(type="checkbox", name="days" value="sun")
      | Sun
