doctype html
html
  head
    title ofCourse
    link(rel='stylesheet' href='/min.css')
    link(rel='stylesheet' href='/static/libs/fa-4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/static/libs/fullcalendar/fullcalendar.css')
    link(rel='stylesheet' href='/static/libs/datePicker/css/datepicker.css')
    link(rel='shortcut icon' href='/static/images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/static/images/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css')
    script(src='/static/libs/fullcalendar/moment.min.js')
    script(src='/static/libs/fullcalendar/fullcalendar.js')
    script(scr='/static/libs/datePicker/js/datepicker.js')

  body
    div(class='ofcourse-body')
    script(src='/min.js' type='text/javascript')
