div.ofcourse-module-full
  form.pure-form
    fieldset.pure-group
      input.pure-input-1-1.ofcourse-course-search-title(type="text" placeholder="Course Title" oninput="ofcourseDelayedCourseSearch(this)")
    #courseSearch
