div.ofcourse-module-full.ofcourse-mcolor-light.ofcourse-hide
  form.ofcourse-addAssign-form
    fieldset.ofcourse-clean-fieldset
      input.ofcourse-clean-input.ofcourse-heading.ofcourse-course-search-title(type="text" autofocus="autofocus" placeholder="Course Title" oninput="ofcourseDelayedCourseSearch(this)")
    #courseSearch
