div.ofcourse-module-full.ofcourse-mcolor-light.ofcourse-hide.ofcourse-load-container
  form.ofcourse-addAssign-form
    fieldset.ofcourse-clean-fieldset
      input.ofcourse-clean-input.ofcourse-heading.ofcourse-course-search-title(type="text" autofocus="autofocus" placeholder="Search by title..." oninput="ofcourseDelayedCourseSearch(this)")
    #courseSearch
