div.ofcourse-quick-assign-wrapper
    div.ofcourse-quick-assign-popup
      div.ofcourse-module-full.ofcourse-mcolor-light.add.ofcourse-load-container
    div.ofcourse-quick-assign-bg.ofcourse-purple(onClick="radio.trigger('unrender:QuickAddAssignView')")