html
	head
	body
		div#form
			form.pure-form
				fieldset.pure-group
					input.pure-input-1-2(id='#{firstName.val}' type='text' placeholder='First Name')
					button(type='submit' class='pure-button pure-input-1-2 pure-button-primary') Register


