div(class=['ofcourse-sidebar'])
  div#sidebar-calendar(class=['ofcourse-menu-item']) Calendar
  div(class=['ofcourse-menu-item']) Notifications
  div#sidebar-courses(class=['ofcourse-menu-item']) Courses
  div(class=['ofcourse-menu-item']) University
  div(class=['ofcourse-menu-item']) Settings
