div(class=['ofcourse-sidebar'])
  div#sidebar-home(class=['ofcourse-menu-item']) Home
  div#sidebar-calendar(class=['ofcourse-menu-item']) Calendar
  div#sidebar-courses(class=['ofcourse-menu-item']) Courses
  div#sidebar-addcourse(class=['ofcourse-menu-item']) Add Course
  div#sidebar-createcourse(class=['ofcourse-menu-item']) Create Course
  div(class=['ofcourse-menu-item']) Settings
  div#sidebar-logout(class=['ofcourse-menu-item']) Log Out
