div(class=['ofcourse-sidebar'])
  div#sidebar-calendar(class=['ofcourse-menu-item']) Calendar
  div(class=['ofcourse-menu-item']) Notifications
  div(class=['ofcourse-menu-item']) Classes
  div(class=['ofcourse-menu-item']) University
  div(class=['ofcourse-menu-item']) Settings
