div.pure-g.ofcourse-taskbar
  div.pure-u-1-3
    div.ofcourse-taskbar-left 
      div.ofcourse-welcome-text Welcome, #{locals.firstName}
  div.pure-u-1-3.ofcourse-taskbar-center
    div.wordage
      img(src="/static/images/ofcourse-wordage-232x75.png" height='50')
  div.pure-u-1-3
    div.ofcourse-taskbar-right-1
    div.ofcourse-taskbar-right-2