div.oc-uniSelect
  h1 Welcome to ofCourse!
  h2 Which university do you attend?
  br
  div.oc-listContainer
    - each item in locals
      div.pure-g
        div.pure-u-1
          div.oc-listItem(onclick="radio.trigger('submit:University',this.id)" id="#{item.id}")
            h2 #{item.name}
            h3 #{item.location}
