// This will be used for displaying a single Uers course on the page
//It will contain a container will a list of all events for the course in chronological order
div.oc-userCourse-pageWrapper
  h1 #{locals.title}
  h2 #{locals.number}
  h2 #{locals.section}
  div.oc-userCourse-eventContainer
    // this will contain for loop of events
