// This will be used for displaying a single Users course on the page
//It will contain a container will a list of all events for the course in chronological order
div.oc-viewCourse-pageWrapper
  h2 #{locals.title} hai
  h3 #{locals.number}
  h3 #{locals.section}

