div.oc-userAssignments-pageWrapper.ofcourse-body
  div.ofcourse-module-full.ofcourse-mcolor-light
    div#add-course.waves-circle.red.waves-effect.waves-light.ofcourse-round-button.fab.ofcourse-add-button.ofcourse-button-hover(
      onClick="radio.trigger('addAssignment')")
      core-icon(icon="add")