div.oc-userAssignments-pageWrapper.ofcourse-body
  div.ofcourse-mobile
  div.ofcourse-left
    div.ofcourse-module-full.ofcourse-mcolor-light.ofcourse-scroll.assignments
      div.ofcourse-assign-header
        | Assignments
  div.ofcourse-right
    div.ofcourse-module-full.ofcourse-mcolor-light.add.ofcourse-load-container
  div#add-course.waves-circle.ofcourse-purple.waves-effect.waves-light.ofcourse-round-button.fab.ofcourse-add-button.ofcourse-button-hover(
    onClick="radio.trigger('addAssignment')")
    core-icon(icon="add")